@charset "UTF-8";


table, .filter{
	text-align: center;
	margin: 0 auto;
	width:75%;
}

table{
	border-collapse: collapse;
}

th, td{
	padding: 15px;
	text-align: left;
		border-bottom: 2px solid #ddd;

}

tr{
		border-bottom: 2px solid #ddd;
}

a{
	text-decoration : none;
}
.btn-activer{
	background: #0070ff;
	padding: 5px;
	border: 1px solid #769cbd;
	color: white;
	text-decoration: none;
	border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border: 0px solid #000000;
}

.btn-desactiver{
	background: red;
	padding: 5px;
	border: 1px solid #769cbd;
	color: white;
	text-decoration: none;
	border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border: 0px solid #000000;
}