@charset "UTF-8";
body{
    background: #242e42;
    font-family: sans-serif;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.erreur{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    color: red;
}

/* Set a style for all buttons */
.button, a {
    background-color:  #138686;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.button:hover, a:hover {
    background-color: white;
    color: #138686;
    border: 1px solid #138686;
}

a{
	display:block;
	text-align:center;
	background-color: #138686;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 360px;
    text-decoration:none;
    font-size: 13px; 
}

.annonce{
	background-color:#white;
	text-align:center;
	
}