@charset "UTF-8";



.container{
	dislay : inline-block;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 90px;
	
}

.annonce{
	
	width: 100%;
	background: #c0ddcd;
	margin: 10px;
	text-align: center;
}

.recherche{
	width: 100%;
display: flex;
  align-items: center;
  justify-content: center;
    margin: 25px;
}

.recherche>*{
	margin-right: 50px;
}