@charset "UTF-8";


body {
	margin : 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

header {
	
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 20px;
  width: 125px;
  background-color: #242e42;
  
  -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.75);

}

#nav {
	padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
}
#nav li {
	display: inline;
	list-style: none;
}


#nav a {
	text-decoration: none;
	display:inline-block;
	width:100%;
	margin: 20px auto;
	padding: 20px 0 20px 0;
	color: white;
}
 #nav a:hover {
    background-color: white;
    color: #242e42;
    border: 1px solid #53af57;
}


main {
	padding-left : 125px;
	height : 100%;

}

h1 {
	position: fixed;
	width: 85%;
	  background-color:#138686; 
	 padding : 10px;
	       -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.75);
}





