@charset "UTF-8";

main {
	padding-left : 125px;
	height : 100%;

}

h1 {
	background-color:#138686; 
	padding : 10px;
	-webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.75);
	text-align : left;
	width: 100%;
}

.container, h1{

	margin: 0 auto;
	display : flex;
	flex-direction: column;

}

.container{
	padding-top: 90px;
	flex-wrap: wrap;
	text-align: center;
}

.container form{
padding: 30px;
	
}

#modifprofil {
    background: #fff;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit]  {
    background-color:#138686;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
-webkit-box-shadow: 0px 0px 33px -18px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 33px -18px rgba(0,0,0,0.75);
box-shadow: 0px 0px 33px -18px rgba(0,0,0,0.75);
}
input[type=submit]:hover {
    background-color: white;
    color: #138686;
    border: 1px solid #138686;
}
